<section id="todoapp">
	<header id="header"></header>
	<section id="main"></section>
	<footer id="footer"></footer>
</section>


<footer id="info">
	<p>Double-click to edit a todo</p>
	<p>
		Created by <a href="http://github.com/jsoverson">Jarrod Overson</a>
		and <a href="http://github.com/derickbailey">Derick Bailey</a>
		using <a href="http://marionettejs.com">Backbone.Marionette</a>
	</p>
	<p>Further variations on the Backbone.Marionette app are also <a href="https://github.com/marionettejs/backbone.marionette/wiki/Projects-and-websites-using-marionette">available</a>.
	</p>
</footer>

<%= javascript_tag do %>
$(function() {
	TodoMVC.start();
});
<% end %>
